{% extends 'base.html.twig' %}

{% block body %}

	<article class="post-page">
		<div class="content">
			<img src="{{ post.image }}" alt="">
			<h2 class="title">{{ post.title }}</h2>
			{{ post.content| raw }}
		</div>
	</article>

{% endblock %}
